body {
  background-color: rgb(29, 27, 27);
  color: aliceblue;
}
#main {
  margin-left: 35%;
  margin-top: 15%;
}
#result {
  font-size: 35px;
}
.numbers {
  width: 50px;
  height: 50px;
}
.symbols {
  width: 50px;
  height: 50px;
}
